/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== BASE SIZES ==========*/
  --header-height: 6rem;
  --footer-height: 6rem;
  --padding-top: 5rem;
  --padding-bottom: 5rem;

  /*========== COLORS ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --body-color: hsl(39, 50%, 95%);
  --first-color: hsl(0, 0%, 13%);
  --second-color: hsl(212, 100%, 27%);

  /*========== FONTS ==========*/
  --body-font: 'Montserrat', sans-serif;
  --title-font: 'Syne', sans-serif;
  --extra-font: 'Roboto Mono', monospace;
  --nav-font: 'Syne', sans-serif;

  /*========== FONT SIZES ==========*/
  --body-font-size: 1.3rem;
  --title-font-size: 5rem;
  --subtitle-font-size: 2.3rem;
  --nav-font-size: 1.2rem;
  --main-title-font-size: 5.5rem;
  --main-subtitle-font-size: 1.4rem;

  /*========== FONT WEIGHTS ==========*/
  --body-font-weight: 400;
  --title-font-weight: 700;
  --subtitle-font-weight: 600;

  /*========== Z INDEX ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
/* RESPONSIVE FOR SMALL DEVICES */
@media screen and (max-width: 480px) {
  :root {
    --title-font-size: 3rem;
    --subtitle-font-size: 1.5rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html {
  scroll-behavior: smooth;
}
  
body {
  background-color: var(--body-color);
  color: var(--first-color);
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
  
.container {
  max-width: 1120px;
  margin-inline: 2rem;
}

.title {
  color: var(--second-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
}

.subtitle {
  color: var(--second-color);
  font-family: var(--title-font);
  font-size: var(--subtitle-font-size);
}

p {
  line-height: 2rem;
}

a {
  color: var(--first-color);
}
  
a, button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/*=============== HEADER & NAV ===============*/
header {
  background-color: var(--body-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav_list {
  list-style: none;
}

.nav_link {
  font-size: var(--nav-font-size);
  text-decoration: none;
}

.nav_logo {
  color: var(--first-color);
  font-family: var(--nav-font);
  font-size: var(--nav-font-size);
  font-weight: var(--subtitle-font-weight);
  transition: color .4s;
}

.nav_actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav_search,
.nav_toggle, 
.nav_close {
  color: var(--first-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: color .4s;
}

:is(.nav_link):hover {
  color: var(--second-color);
  text-decoration: underline;
}

:is(.nav_logo, .nav_search, .nav_toggle, .footer_icon):hover {
  color: var(--second-color);
}

/*=============== MAIN PAGE ===============*/
.main_title h1 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--main-title-font-size);
  letter-spacing: -0.2rem;
  text-align: left;
}
  
.main_title h2 {
  font-family: var(--extra-font);
  font-weight: var(--body-font-weight);
  font-size: var(--main-subtitle-font-size);
  text-align: left;
  padding-top: 0.4rem;
  line-height: 2rem;
}
  
.title_name {
  color: var(--second-color);
}

/*=============== ABOUT PAGE ===============*/
.introduction .subtitle {
  line-height: 2.6rem;
}

.skills_section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.skills_column_skills {
  display: flex;
  flex: 1;
  align-items: center;
}

.skills_column_text {
  flex: 1;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill_name_short,
.skill_name_long {
  background-color: var(--first-color);
  color: var(--body-color);
  font-family: var(--extra-font);
  font-weight: var(--subtitle-font-weight);
  font-size: 1.2rem;
  flex-basis: calc(33.33% - 20px); /* Equal width for all items */
  padding: 20px;
  text-align: center;
  border-radius: 0.5rem;
}

.skills_text {
  font-family: var(--main-font);
  font-size: 1.2rem;
  padding: 20px;
  flex: 1;
}

.cv_button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cv_button a {
  background-color: var(--first-color);
  color: var(--body-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: 1.8rem;
  padding: 0.9rem 5.5rem;
  border: 0.2rem solid var(--first-color);
  border-radius: 10rem;
  transition: 0.3s;
  text-decoration: none;
}

.cv_button a:hover {
  background-color: var(--body-color);
  color: var(--second-color);
  border: 0.2rem solid var(--second-color);
}

.skills,
.experience,
.cv_button {
  padding-top: 5rem;
}

/*=============== CONTACT PAGE ===============*/
.contact_info {
  color: var(--second-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
  margin-right: 1rem;
}

.contact_social {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.contact_social .contact_link {
  margin-right: 1rem;
}

.contact_social i {
  background-color: var(--body-color);
  color: var(--first-color);
  font-size: 1.2rem;
  border: 0.1rem solid var(--first-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.contact_social i:hover {
  background-color: var(--first-color);
  color: var(--body-color);
  border: 0.1rem solid var(--first-color);
}

.contact_social .remixicon {
  height: 1.5rem;
  width: 1.5rem
}

.contact_form {
  margin-top: 5rem;
}

/*=============== PROJECTS PAGE ===============*/
.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding-bottom: var(--padding-bottom);
}

.project h2 {
  color: var(--second-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--subtitle-font-size);
  margin-bottom: 2rem;
}

.project .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; 
}

.project .texts a {
  text-decoration:none;
}

.project .texts a:hover {
  text-decoration: underline;
  color: var(--second-color);
}

/*=============== PROJECT PAGE ===============*/
.content h1 {
  color: var(--second-color);
  font-size: var(--title-font-size);
}

.content h2 {
  line-height: 2.6rem;
}

.content h3 {
  color: var(--second-color);
  text-align: center;
}

.content h2,
.content h3 {
  font-size: var(--subtitle-font-size);
}

.content h1,
.content h2,
.content h3 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
}

.content a {
  font-family: var(--extra-font);
  font-weight: 500;
  font-size: 1.2rem;
  display: block; 
  text-align: center;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

/*=============== CREATE & EDIT FORM ===============*/
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fefefe;
}

.content-area {
  background-color: #fefefe;
}

/*=============== EDIT & DELETE BTNS ===============*/
div.edit-row{
  margin-bottom: -2.5rem;
}

.edit-btn {
  text-decoration: none;
  background-color: var(--first-color);
}

.delete-btn {
  background-color: rgb(203, 23, 23);
}

.edit-btn, 
.delete-btn {
  color: #fefefe;
  font-family: var(--extra-font);
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 3.5rem;
  width: 9rem;
  margin: 0rem 0.2rem;
  border: none;
  border-radius: 4rem;
}

.edit-btn:hover {
  background-color: hsla(0, 0%, 13%, 0.792);
}

.delete-btn:hover {
  background-color: rgba(228, 33, 33, 0.694);
}

.edit-btn svg, 
.delete-btn svg {
  height: 1.3rem;
}

/*=============== LOGIN ===============*/
.login, form.register{
  background-color: hsl(39, 70%, 95%);
  border: 0.2rem solid var(--first-color);
  border-radius: 1.5rem;
  max-width: 400px;
  padding: 3rem;
  margin: 0 auto;
}

.login-title, form.register h1{
  text-align: center;
  font-size: 2.4rem;
  color: var(--first-color);
  margin-bottom: 3rem;
}

.login-input {
  background-color: #fefefe;
  color: var(--first-color);
  border: 0.15rem solid var(--first-color);
  font-family: var(--extra-font);
  font-size: 1rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  padding: 1.2rem 2.1rem;
  margin-bottom: 0.7rem;
}

.login-input::placeholder {
  color: #696969;
}

.login-input:hover {
  border: 0.17rem solid var(--second-color);;
}

login-input::placeholder :hover {
  color: #fefefe;
}

.login-btn {
  background-color: var(--first-color);
  color: var(--body-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1.2rem 2.1rem;
  border: none;
  border-radius: 10rem;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: var(--second-color);
}

/*=============== FOOTER ===============*/
.footer_social {
  display: flex;
  height: var(--footer-height);
  bottom: 0;
  text-align: left;
  align-items: center;
  column-gap: 2.5rem;
}

.footer_social .remixicon {
  color: var(--first-color);
  text-decoration: none;
  text-align: left;
  height: 1.8rem;
  width: 1.8rem;
  transition: 0.4s;
}

.footer_social .remixicon:hover  {
  color: var(--second-color);
}

/*=============== MEDIA QUERIES ===============*/
/* RESPONSIVE FOR SMALL DEVICES */
@media screen and (max-width: 1023px) {
  .main {
    padding-top: calc(var(--padding-top) - 3rem);
    padding-bottom: calc(var(--padding-bottom) + 3rem);
  }
  .skills_section {
    flex-direction: column; /* Aseta elementit p채채llekk채in mobiilissa */
  }
  .skills_column {
    width: 100%; /* T채ysi leveys mobiilissa */
  }
  .nav_menu {
    background-color: var(--body-color);
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
  .footer {
    box-shadow: 0 8px 16px hsla(0, 0%, 52%, 0.961);
    background-color: var(--body-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: var(--z-fixed);
  }
  .footer_social {
    justify-content: center;
    height: calc(var(--footer-height) - 2rem);
  }
  .footer_link {
    font-size: calc(var(--social-font-size) - 0.2rem);
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2.5rem;
}

.nav_link {
  color: var(--first-color);
  font-family: var(--nav-font);
  font-weight: var(--subtitle-font-weight);
  transition: color .4s;
}

.nav_close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== BREAKPOINTS ===============*/
/* RESPONSIVE FOR MEDIUM DEVICES */
@media screen and (min-width: 576px) {
  .main {
    padding-top: var(--padding-top);
    padding-bottom: calc(var(--padding-bottom) + 3rem );
  }
}

/* RESPONSIVE FOR LARGE DEVICES */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav_close, 
  .nav_toggle {
    display: none;
  }
  .nav_menu {
    margin-left: auto;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .footer_social {
    height: calc(var(--footer-height) + 2rem);
    column-gap: 2.9rem;
  }
  .contact_information {
    margin-right: 15rem;
  }
  div.project,
  .skills_section {
    grid-template-columns: .9fr 1.1fr;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
    }
}