/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== BASE SIZES ==========*/
  --header-height: 6rem;
  --footer-height: 6rem;
  --padding-top: 5rem;
  --padding-bottom: 5rem;

  /*========== COLORS ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --body-color: hsl(39, 50%, 95%);
  --first-color: hsl(0, 0%, 13%);
  --second-color: hsl(212, 100%, 27%);

  /*========== FONTS ==========*/
  --body-font: 'Montserrat', sans-serif;
  --title-font: 'Syne', sans-serif;
  --extra-font: 'Roboto Mono', monospace;
  --nav-font: 'Syne', sans-serif;

  /*========== FONT SIZES ==========*/
  --body-font-size: 1.1rem;
  --title-font-size: 5rem;
  --subtitle-font-size: 2rem;
  --nav-font-size: 1.1rem;
  --btn-font-size: 1.7rem;
  --main-title-font-size: 5rem;
  --main-subtitle-font-size: 1.2rem;

  /*========== FONT WEIGHTS ==========*/
  --body-font-weight: 400;
  --title-font-weight: 700;
  --subtitle-font-weight: 600;
}

/*========== Responsive typography ==========*/
/* RESPONSIVE FOR SMALL DEVICES */
@media screen and (max-width: 330px) {
  :root {
    --body-font-size: 0.9rem;
    --title-font-size: 1.8rem;
    --subtitle-font-size: 1.4rem;
    --main-title-font-size: 2rem;
    --main-subtitle-font-size: 0.7rem;
  }
}
@media screen and (max-width: 660px) and (min-width: 331px) {
  :root {
    --body-font-size: 1rem;
    --title-font-size: 3rem;
    --subtitle-font-size: 1.8rem;
    --main-title-font-size: 3.3rem;
    --main-subtitle-font-size: 1.1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
  
body {
  background-color: var(--body-color);
  color: var(--first-color);
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
}

.main_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
  
.container {
  max-width: 1120px;
  margin-inline: 2rem;
}

.main {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.title {
  color: var(--second-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
}

.subtitle {
  color: var(--second-color);
  font-family: var(--title-font);
  font-size: var(--subtitle-font-size);
  font-weight: var(--title-font-weight);
}

p {
  line-height: 2rem;
}

h1,
h2 {
  font-weight: var(--title-font-weight);
}

a {
  color: var(--first-color);
}
  
a, button {
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.cv_btn a,
.form_btn,
.login_btn {
  background-color: var(--first-color);
  color: var(--body-color);
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  border: 0.2rem solid var(--first-color);
  border-radius: 11rem;
  transition: all 0.2s ease-in;
}

.cv_btn a,
.form_btn {
  font-size: var(--btn-font-size);
  width: 220px;
  padding: 1.2rem;
}

/*=============== HEADER & NAV ===============*/
header {
  background-color: var(--body-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav_list {
  list-style: none;
}

.nav_link {
  font-size: var(--nav-font-size);
  text-decoration: none;
}

.nav_logo {
  color: var(--first-color);
  font-family: var(--nav-font);
  font-size: var(--nav-font-size);
  font-weight: var(--subtitle-font-weight);
  transition: color .4s;
}

.nav_actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav_toggle svg, 
.nav_close svg {
  color: var(--first-color);
  width: 1.2em; 
  height: 1.2em;
  cursor: pointer;
  transition: color .4s;
}

.nav_close svg {
  width: 1.3em; 
  height: 1.3em;
}

.nav_link:hover {
  color: var(--second-color);
  text-decoration: underline;
}

.nav_logo {
  text-decoration: underline;
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_logo, 
.nav_toggle svg:hover,
.nav_close svg:hover {
  color: var(--second-color);
}

/*=============== HOME PAGE ===============*/
.main_title h1 {
  color: var(--first-color);
  font-family: var(--title-font);
  font-size: var(--main-title-font-size);
  letter-spacing: -0.2rem;
  text-align: left;
}
  
.main_title h2 {
  color: var(--first-color);
  font-family: var(--extra-font);
  font-weight: var(--body-font-weight);
  font-size: var(--main-subtitle-font-size);
  text-align: left;
  padding-top: 0.4rem;
  line-height: 2rem;
}
  
.title_name {
  color: var(--second-color);
}

/*=============== ABOUT PAGE ===============*/
.introduction {
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 4rem;
  align-items: flex-end;
}

.profile_img {
  max-width: 100%;
  height: auto;
}

.introduction,
.skills_section,
.skills_column_skills,
.skills_list,
.cv_btn {
  display: flex;
}

.introduction_quote,
.skills_column_skills,
.skills_column_text,
.skills_text,
.cv_btn {
  flex: 1;
}

.skills_section {
  justify-content: space-between;
  gap: 3rem;
}

.skills_column_skills {
  align-items: center;
}

.skills_list {
  flex-wrap: wrap;
}

.skill_name {
  background-color: var(--first-color);
  color: var(--body-color);
  font-family: var(--extra-font);
  font-weight: var(--subtitle-font-weight);
  font-size: 1.1rem;
  padding: 1.5rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  border-radius: 0.8rem;
}

.cv_btn {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cv_btn a:hover {
  background-color: var(--body-color);
  color: var(--second-color);
  border: 0.2rem solid var(--second-color);
  box-shadow: 0.5rem 0.5rem 0 hsla(212, 100%, 27%, 0.838);
  transform: translateX(-5px) translateY(-5px);
}

.cv_btn {
  padding-top: var(--padding-top);
}

/*=============== PROJECTS PAGE ===============*/
.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding-bottom: var(--padding-bottom);
}

.project h2 {
  margin-bottom: 2rem;
}

.project .image {
  position: relative;
}

.project .image img {
  width: 100%; /* Täyttää kuvan osion leveyden */
  height: auto; /* Säilyttää kuvan suhteen oikein */
  max-width: 100%;
  max-height: 800px;
  transition: all 0.2s ease-in;
}

.project .image img:hover {
  border: 0.17rem solid var(--second-color);
  box-shadow: 0.8rem 0.8rem 0 hsla(212, 100%, 27%, 0.838);
}

.project .texts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; 
}

.project .texts a {
  text-decoration: none;
}

.project .texts a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: var(--second-color);
}

/*=============== PROJECT PAGE ===============*/
.content img {
max-width: 100%;
max-height: 1200px;
}

.content a:hover {
  text-decoration: underline;
}

/*=============== CONTACT PAGE ===============*/
.contact_info {
  text-transform: uppercase;
  margin-right: 1rem;
}

.contact_social {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.contact_social .contact_link {
  margin-right: 1rem;
}

.contact_social i {
  background-color: var(--body-color);
  color: var(--first-color);
  font-size: 1.2rem;
  border: 0.1rem solid var(--first-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.contact_social i:hover {
  background-color: var(--first-color);
  color: var(--body-color);
  border: 0.1rem solid var(--first-color);
}

.contact_social svg {
  height: 1.5rem;
  width: 1.5rem
}

.contact_form {
  margin-top: 5rem;
  width: 100%;
  max-width: 700px;
  justify-content: center;
  align-items: center;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid var(--first-color);
  box-shadow: 0.8rem 0.8rem 0 hsla(212, 100%, 27%, 0.838);
  border-radius: 2rem;
  padding: 4rem;
}

.form_element {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.form_element input,
textarea {
  background-color: #fefefe;
  font-family: var(--extra-font);
  font-size: 1.1rem;
  padding: 1.1rem;
  border-radius: 2rem;
  border: 2px solid var(--first-color);
  resize: none;
}

.form_element input:hover, 
textarea:hover {
  border: 2px solid var(--second-color);
  box-shadow: 0.8rem 0.8rem 0 hsla(212, 100%, 27%, 0.838);
}

.form_element input::placeholder {
  color: #696969;
}

.form_btn {
  margin-top: 1rem;
}

.form_btn:hover {
  color: var(--second-color);
  background-color: var(--body-color);
  border: 0.2rem solid var(--second-color);
  box-shadow: 0.5rem 0.5rem 0 hsla(212, 100%, 27%, 0.838);
  transform: translateX(-5px) translateY(-5px);
}

/*=============== EDITOR ===============*/
.editor {
  margin-top: 3.5rem
}

.editor input{
  display: block;
  padding: 15px 10px;
  border-radius: 0.6rem;
}

.editor input, 
.content_area {
  background-color: #fefefe;
  border: 1px solid var(--first-color);
  font-family: var(--extra-font);
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.editor input:hover,
.content_area:hover {
  border: 2px solid var(--first-color);
}

/*=============== EDITOR TOOL BAR ===============*/
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Montserrat, sans-serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label::before {
  content: 'Montserrat';
  font-family: 'Montserrat', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Syne, sans-serif"]::before {
  content: 'Syne';
  font-family: 'Syne', sans-serif !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Roboto Mono, monospace"]::before {
  content: 'Roboto Mono';
  font-family: 'Roboto Mono', monospace !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1.3rem"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label::before {
  content: 'Body';
  font-size: 1.3rem !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="2.3rem"]::before {
  content: 'Subtitle';
  font-size: 2.3rem !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="5rem"]::before {
  content: 'Title';
  font-size: 5rem !important;
}

.ql-snow .ql-picker.ql-color .ql-picker-item[data-value="#212121"]::before {
  color: #212121 !important;
}

.ql-snow .ql-picker.ql-color .ql-picker-item[data-value="#003F88"]::before {
  color: #003F88 !important;
}

.ql-snow .ql-picker.ql-color .ql-picker-item[data-value="#F9F4EC"]::before {
  color: #F9F4EC !important;
}

/*=============== CREATE, EDIT, DELETE ===============*/
div.edit_row{
  margin-bottom: -2.5rem;
}

.edit_btn {
  text-decoration: none;
  background-color: var(--first-color);
}

.delete_btn {
  background-color: rgb(203, 23, 23);
}

.create_btn,
.update_btn {
  background-color: var(--first-color);
  color: var(--body-color);
  border: 1px solid var(--first-color);
  font-family: var(--extra-font);
  border-radius: 5rem;
  font-size: 1rem;
  width: 8rem;
  padding: 18px;
  gap: 0.2rem;
  display: inline-flex;
}

.create_btn:hover,
.update_btn:hover {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
}

.edit_btn, 
.delete_btn {
  color: #fefefe;
  font-family: var(--extra-font);
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 8rem;
  padding: 18px;
  margin: 0rem 0.2rem;
  border: none;
  border-radius: 4rem;
}

.edit_btn:hover {
  background-color: hsla(0, 0%, 13%, 0.792);
}

.delete_btn:hover {
  background-color: rgba(228, 33, 33, 0.694);
}

.edit_btn svg, 
.delete_btn svg,
.update_btn svg,
.create_btn svg {
  height: 1.3rem;
}

/*=============== LOGIN PAGE ===============*/
.login {
  border: 2px solid var(--first-color);
  box-shadow: 0.8rem 0.8rem 0 hsla(212, 100%, 27%, 0.838);
  border-radius: 2rem;
  max-width: 400px;
  padding: 3rem;  
  margin: 0 auto;
}

.login_title {
  font-family: var(--title-font);
  text-align: center;
  font-size: 2.4rem;
  color: var(--first-color);
  margin-bottom: 3rem;
}

.login_element {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.login_input {
  background-color: #fefefe;
  color: var(--first-color);
  border-radius: 2rem;
  border: 2px solid var(--first-color);
  font-family: var(--extra-font);
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 1.2rem 2.1rem;
  margin-bottom: 1rem;
}

.login_input::placeholder {
  color: #696969;
}

.login_input:hover {
  border: 0.17rem solid var(--second-color);
  box-shadow: 0.8rem 0.8rem 0 hsla(212, 100%, 27%, 0.838);
}

.login_btn {
  font-size: 1rem;
  text-transform: uppercase;
  width: 130px;
  padding: 1.1rem;
  margin-top: 1rem;
}

.login_btn:hover {
  background-color: var(--second-color);
  border: 0.2rem solid var(--second-color);
  box-shadow: 0.5rem 0.5rem 0 hsla(212, 100%, 27%, 0.838);
  transform: translateX(-5px) translateY(-5px);
}

.error_message {
  color: rgb(228, 33, 33);
  font-family: var(--extra-font);
  font-weight: var(--subtitle-font-weight);
  text-transform: uppercase;
  font-size: 0.9rem;
}
/*=============== FOOTER ===============*/
.footer_social {
  display: flex;
  height: var(--footer-height);
  bottom: 0;
  text-align: left;
  align-items: center;
  column-gap: 2.5rem;
}

.footer_social svg {
  color: var(--first-color);
  text-decoration: none;
  text-align: left;
  height: 1.6rem;
  width: 1.6rem;
  transition: 0.4s;
}

.footer_social svg:hover  {
  color: var(--second-color);
}

/*=============== MEDIA QUERIES ===============*/
/* RESPONSIVE FOR SMALL DEVICE */
@media screen and (max-width: 760px) {
  .introduction {
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .profile_img {
    align-self: center;
    margin-bottom: 2rem;
  }
  .introduction_quote .subtitle {
    text-align: center;
  }
}

/* RESPONSIVE FOR SMALL & MEDIUM DEVICES */
@media screen and (max-width: 1023px) {
  .nav_menu {
    background-color: var(--body-color);
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
  .main {
    padding-top: calc(var(--padding-top) - 3rem);
    padding-bottom: calc(var(--padding-bottom) + 5rem);
  }
  .skills_section {
    flex-direction: column;
  }
  .skills_text {
    margin-top: 2rem;
  }
  .contact_form {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .form_container,
  .login {
    padding: 2rem;
    max-width: 400px;
  }
  .login_title {
    font-size: 1.5rem;
  }
  .form_element
  .login_element {
    font-size: 1rem; 
  }
  .form_element input,
  .form_element textarea,
  .login_input {
    font-size: 0.8rem;
    padding: 1rem 1.8rem; 
  }
  .login_btn {
    font-size: 0.8rem;
    width: 100px;
    padding: 1rem;
    margin-top: 0.1rem;
  }
  .cv_btn a,
  .form_btn {
    width: 160px;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .footer {
    box-shadow: 0 8px 16px hsla(0, 0%, 52%, 0.961);
    background-color: var(--body-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  .footer_social {
    justify-content: center;
    height: calc(var(--footer-height) - 2rem);
    column-gap: 1.8rem;
  }
  .footer_social svg {
    height: 1.4rem;
  }
}

.nav_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2.5rem;
}

.nav_link {
  color: var(--first-color);
  font-family: var(--nav-font);
  font-weight: var(--subtitle-font-weight);
  transition: color .4s;
}

.nav_close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* RESPONSIVE FOR LARGE DEVICES */
@media screen and (min-width: 1024px) {
  .container {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  p {
    line-height: 2rem;
  }  
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav_close, 
  .nav_toggle {
    display: none;
  }
  .nav_menu {
    margin-left: auto;
  }
  .nav_list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .footer_social {
    height: calc(var(--footer-height) + 2rem);
    column-gap: 2.9rem;
  }
  .contact_information {
    margin-right: 15rem;
  }
  div.project {
    grid-template-columns: .9fr 1.1fr;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
    }
}